.card-img-top{
    height: 100px;
    weight: 200px;
}
.navbar11 {
    background-color: white;
    display: flex;
    width: 100%;
    height: 70px;
}
.menuButton{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-left: 25px;
}
.menu1Button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin-left: 25px;
}

.menu{
    width: 100%;
    padding: 20px;
}
.menu1{
    width: 90%;
    padding: 20px;
    text-align: right;
}
.body{
    width: 100%;
    height: 80%;
    background-color: black;
    color: white;
    display: flex;

}
.menubody{
    margin-left: 25px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: right;
    width: 90%;
    margin-top: 20px;
    display: flex;
}
.catbut{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.selected_li{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-left: 25px;
}
.k5{
    margin-top: 8px;
}