{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<h1 style="text-align: center">{{title}}</h1>
       <p style="text-align: center">Qazaqsha book</p>

<p> Қазақстанда орналасқан кітаптардың интернет-дүкені. Дүкенде  сіз қазақ, орыс және ағылшын тілдеріндегі кітаптарды, сондай-ақ электронды кітаптар, Аудиокітаптар, журналдар мен оқулықтар сияқты басқа да оқу құралдарын таба аласыз.

Дүкенде  көркем әдебиет, фантастика, балалар әдебиеті, Іскерлік әдебиет және т.б. сияқты кітаптардың әртүрлі санаттарын таба аласыз. Сонымен қатар, дүкен қазақ тіліндегі Қазақстанның мәдениеті, тарихы мен әдебиеті туралы кітаптардың кең таңдауын ұсынады.
</p>
<p style="height: 300px"></p>
{% endblock %}