{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'main/css/basestyle.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">


</head>
<body>

{% block mainmenu %}
<!--<ul>-->
<!--    {%for m in menu %}-->
<!--    <li>{{m}}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
   <div class="navbar11">
        <div class="menu">
            <a href="#" class="menuButton">about</a>
            <a href="#" class="menuButton">news</a>
            <a href="#" class="menuButton">new</a>
            <a href="#" class="menuButton">log in</a>
        </div>

        <img src="kiaa.webp", width="200">

        <div class="menu1">
            <a href="#" class="menuButton">Дилеры</a>
            <a href="#" class="menuButton">Бренд Kia</a>
        </div>
   </div>

    <div class="body">
         <div class="k5"><h2>K5</h2></div>
         <div class="menubody">
    {% if cat_selected == 0 %}
            <li class="selected">Все категории</li>
    {% else %}
             <li><a href="{% url 'home' %}">Все категории</li>
    {% endif %}

    {% for c in cats %}
        {% if c.pk == cat_selected %}
             <li class="selected">{{c.name}}</li>
        {% else %}
             <li><a href="{{ c.get_absolute_url }}">{{c.name}}</li>
        {% endif %}
    {% endfor %}
         </div>

    </div>

{% endblock mainmenu %}

{% block content %}
{% endblock %}

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>