{% load static %}
{% load biblo_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link  href="{% static 'main/css/basestyle.css' %}" rel="stylesheet">
    <link  href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">


</head>
<body>

{% block mainmenu %}
<!--<ul>-->
<!--    {%for m in menu %}-->
<!--    <li>{{m}}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
   <div class="navbar11">
        <div class="menu">
            <a href="#" class="menuButton">About</a>
            <a href="#" class="menuButton">News</a>
            <a href="#" class="menuButton">New</a>
<!--            <a href="#" class="menuButton">log in</a>-->
        </div>

<!--        <img src="{% static 'main/img/11.jpg' %}",  height="70" width="170">-->
       <h1 style="margin-top: 8px;">Bibloteka</h1>

        <div class="menu1">
            <a href="#" class="menuButton">Create</a>
            <a href="#" class="menuButton">Log in</a>
        </div>
   </div>

    <div class="body">
         <div class="k5"><h2>Biblo</h2></div>

         <div class="menubody">
               {% if cat_selected == 0 %}
                 <p class="selected_li">All</p>
               {% else %}
                  <p class="selected_li"><a class ="catbut" href="{% url 'home' %}">All</p>
               {% endif %}

             {% show_categories cat_selected_cat_selected %}

         </div>

    </div>

{% endblock mainmenu %}

{% block content %}
{% endblock %}

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>